<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.templefox.cultureplatform"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RUN_INSTRUMENTATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="net.templefox.cultureplatform.ApplicationHelper"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <uses-library android:name="android.test.runner" />

        <activity
            android:name="net.templefox.cultureplatform.StartActivity_"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="net.templefox.cultureplatform.MainActivity_"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <activity
            android:name="net.templefox.cultureplatform.LoginActivity_"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="net.templefox.cultureplatform.UserActivity_"
            android:label="@string/title_activity_user" >
        </activity>
        <activity
            android:name="net.templefox.cultureplatform.SearchActivity"
            android:label="@string/title_activity_search" >
        </activity>
        <activity
            android:name="net.templefox.cultureplatform.DetailActivity"
            android:label="@string/title_activity_detail" >
        </activity>
        <activity
            android:name="net.templefox.cultureplatform.RatingActivity"
            android:label="@string/title_activity_rating" >
        </activity>
        <activity
            android:name="net.templefox.cultureplatform.CommentActivity"
            android:label="@string/title_activity_comment" >
        </activity>
        <activity
            android:name="net.templefox.cultureplatform.AddActActivity"
            android:label="@string/title_activity_add_act" >
        </activity>
        <activity
            android:name="net.templefox.cultureplatform.CommentsActivity"
            android:label="@string/title_activity_comments" >
        </activity>
        <activity
            android:name="net.templefox.cultureplatform.GalleryActivity"
            android:label="@string/title_activity_gallary" >
        </activity>
    </application>

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:label="Test for my app"
        android:targetPackage="net.templefox.cultureplatform" />

</manifest>
